<html>

<head>
    <link rel="stylesheet" href="static/css/goals.css">
    <link rel="stylesheet" href="static/css/test.css">
    <link href="static/Landingpage/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/Landingpage/css/style1.css" rel="stylesheet">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.validate.js"></script>
    <script type="text/javascript" src="static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="static/js/goals.js"></script>
    <script type="text/javascript" src="static/js/budget.js"></script>
</head>

<body>

  <header id="header">
    <div class="container">
         <a href="#header"><img src="static/Landingpage/img/logo.png" alt="logo"  width="90px" height="90px"></a>
          <b>PAISA PLANNER</b>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('home')}}">Features</a></li>
          <li><a href="{{url_for('home')}}">About Us</a></li>
          <li><a href="{{url_for('home')}}">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

    <form class="steps" accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('personalBudget')}}" method="POST">
        <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ul>

        <!-- USER INFORMATION FIELD SET -->
        <fieldset>
            <!-- Begin What's Your First Name Field -->
            <div class="hs_firstname field hs-form-field">

                <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">What's your monthly income ? *</label>

                <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="monthly_income" required="required" type="text" value="" placeholder="" data-rule-required="true" data-msg-required="Please enter your monthly income">
                <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
            </div>
            <!-- End What's Your First Name Field -->

            <!-- Begin What's Your First Name Field -->
            <div class="hs_firstname field hs-form-field">

                <label for="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983">What's your Age? *</label>

                <input id="firstname-99a6d115-5e68-4355-a7d0-529207feb0b3_2983" name="age" required="required" type="text" value="" placeholder="" data-rule-required="true" data-msg-required="Please include your age">
                <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
            </div>
            <!-- End What's Your First Name Field -->
            <input type="button" data-page="1" name="next" class="next action-button" value="Next" />
        </fieldset>



        <!-- ACQUISITION FIELD SET -->
        <fieldset>
            <!-- Begin Total Number of Donors in Year 1 Field -->
            <div class="form-item webform-component webform-component-textfield hs_total_number_of_donors_in_year_1 field hs-form-field" id="webform-component-acquisition--amount-1">

                <table>
                    <tr>
                        <center>
                            <h3>Prioritize your Categories</h3>
                        </center>
                    </tr>
                    <tr>
                        <th class="first-col"></th>
                        <th>5</th>
                        <th>4</th>
                        <th>3</th>
                        <th>2</th>
                        <th>1</th>
                    </tr>

                    <tr>
                        <td class="first-col">Healthcare</td>
                        <td><input type="radio" value="none" name="radiocat1" id="c1r1" onchange="checkButton1()" /></td>
                        <td><input type="radio" value="none" name="radiocat1" id="c1r2" onchange="checkButton1()" /></td>
                        <td><input type="radio" value="none" name="radiocat1" id="c1r3" onchange="checkButton1()" /></td>
                        <td><input type="radio" value="none" name="radiocat1" id="c1r4" onchange="checkButton1()" /></td>
                        <td><input type="radio" value="none" name="radiocat1" id="c1r5" onchange="checkButton1()" /></td>
                    </tr>

                    <tr>
                        <td class="first-col">Entertainment</td>
                        <td><input type="radio" value="none" name="radiocat2" id="c2r1" onchange="checkButton2()" /></td>
                        <td><input type="radio" value="none" name="radiocat2" id="c2r2" onchange="checkButton2()" /></td>
                        <td><input type="radio" value="none" name="radiocat2" id="c2r3" onchange="checkButton2()" /></td>
                        <td><input type="radio" value="none" name="radiocat2" id="c2r4" onchange="checkButton2()" /></td>
                        <td><input type="radio" value="none" name="radiocat2" id="c2r5" onchange="checkButton2()" /></td>
                    </tr>

                    <tr>
                        <td class="first-col">Food</td>
                        <td><input type="radio" value="none" name="radiocat3" id="c3r1" onchange="checkButton3()" /></td>
                        <td><input type="radio" value="none" name="radiocat3" id="c3r2" onchange="checkButton3()" /></td>
                        <td><input type="radio" value="none" name="radiocat3" id="c3r3" onchange="checkButton3()" /></td>
                        <td><input type="radio" value="none" name="radiocat3" id="c3r4" onchange="checkButton3()" /></td>
                        <td><input type="radio" value="none" name="radiocat3" id="c3r5" onchange="checkButton3()" /></td>
                    </tr>

                    <tr>
                        <td class="first-col">Bills</td>
                        <td><input type="radio" value="none" name="radiocat4" id="c4r1" onchange="checkButton4()" /></td>
                        <td><input type="radio" value="none" name="radiocat4" id="c4r2" onchange="checkButton4()" /></td>
                        <td><input type="radio" value="none" name="radiocat4" id="c4r3" onchange="checkButton4()" /></td>
                        <td><input type="radio" value="none" name="radiocat4" id="c4r4" onchange="checkButton4()" /></td>
                        <td><input type="radio" value="none" name="radiocat4" id="c4r5" onchange="checkButton4()" /></td>
                    </tr>

                    <tr>
                        <td class="first-col">Transportation</td>
                        <td><input type="radio" value="none" name="radiocat5" id="c5r1" onchange="checkButton5()" /></td>
                        <td><input type="radio" value="none" name="radiocat5" id="c5r2" onchange="checkButton5()" /></td>
                        <td><input type="radio" value="none" name="radiocat5" id="c5r3" onchange="checkButton5()" /></td>
                        <td><input type="radio" value="none" name="radiocat5" id="c5r4" onchange="checkButton5()" /></td>
                        <td><input type="radio" value="none" name="radiocat5" id="c5r5" onchange="checkButton5()" /></td>
                    </tr>

                    <tr>
                        <td class="first-col">Child Expenses</td>
                        <td><input type="radio" value="none" name="radiocat6" id="c6r1" onchange="checkButton6()" /></td>
                        <td><input type="radio" value="none" name="radiocat6" id="c6r2" onchange="checkButton6()" /></td>
                        <td><input type="radio" value="none" name="radiocat6" id="c6r3" onchange="checkButton6()" /></td>
                        <td><input type="radio" value="none" name="radiocat6" id="c6r4" onchange="checkButton6()" /></td>
                        <td><input type="radio" value="none" name="radiocat6" id="c6r5" onchange="checkButton6()" /></td>
                    </tr>

                </table>
                <span class="error1" style="display: none;">
              <i class="error-log fa fa-exclamation-triangle"></i>
          </span>
            </div>
            <!-- End Total Number of Donors in Year 1 Field -->


            <input type="button" data-page="2" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" data-page="2" name="submit" class="next submit-button" value="Submit" onclick="submitFunc()"/>
        </fieldset>

        <fieldset>
            <h2 class="fs-title">DISPLAY BUDGET SUMMARY</h2>
            
        </fieldset>
</body>

</html>